.carousel-container {
    width: 100vw;
    height: 22vh;
    position: relative;
    z-index: 1;
    margin-top: 100px;
    background-color: #221f1f;
    transition: 0.5s ease-in-out;
    /*-ms-overflow-style: none;  */
    scrollbar-width: none;
    
}

.teatre {
    width: 100vw;
    height: 22vh;
    
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    
    /*
    display: inline-block;
    white-space: nowrap;
     */
    background-color: #221f1f;
    position: absolute;
    z-index: 2;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    
}

::-webkit-scrollbar {
    display: none;
}
.carousel-container::-webkit-scrollbar {
    display: none;
}

.teatre::-webkit-scrollbar {
    display: none;
}



.arrow {
    width: 4vw;
    height: 100%;
    position: absolute;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    background-color: #221f1f;
    z-index: 5;
    opacity: 0.8;
}

.arrow:hover {
    opacity: 0.9;
}

.arrow-left {
    left: 0;
    top: 0;
    bottom:0;
    margin: auto;
}

.arrow-right {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}



.arrow-left-go:hover {
    width: 25px;
    height: 25px;
    border-left: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}
.arrow-right-go:hover {
    width: 25px;
    height: 25px;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}


